*{
    padding:0;
    margin:0;
}
body{
    background-size: cover;
}
header{
    background-color: black;
    height: 5em;
}
img{
    margin-left: 9%;
    margin-top: 14px;
}
.head-tag{
    float: right;
    margin-top: 33px;
    margin-right: 55px;
}
.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
}
.head-tag a:hover{
    background-color: yellow;
    color: green;
}
/* Aside*/
.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding:100px;
}
.sidebar li{
    list-style: square;
    margin-bottom: 5px;
}
/* form*/
.login{
    float: right;
    border: 2px solid red;
    background-color: beige;
    height: 14em;
    margin-top:50px ;
    margin-right: 20px;
    padding:30px
}
.login h2{
    text-align: center;
}
.login input{
    height:1.5em;
}
.login #login-button{
    width: 100%;
    height: 2em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;

}

/*P-box*/
.container{
    /*border: 2px solid black;*/
    margin-top: 2%;
    margin-left: 1%;
    }
.p-box{
    border: 2px solid black;
    width:22%;
    float: left;
    margin-left: 10px;
    height: 15em;
    padding:10px;
    background-color: gainsboro;
}
.p-box h3{
    text-align: center;
}
.p-box p{
    line-height: 1.2em;
    text-align: justify;
}
.p-box a{
    text-decoration: none;
    color: red;
}

/*footer*/
 footer{
     background-color: black;
     color: white;
     height: 1.2em;
     margin-top: 24%;

     
 }
 footer h3{
     text-align: center;
 }










